{% extends "base_generic.html" %}

{% block content %}
    <br>
    <br>
    <img class="materialboxed responsive-img" width="350" src="https://images.boredomfiles.com/wp-content/uploads/2015/03/19-confused-animals.jpg">
    <h3>Ой, что-то пошло не так</h3>
{% endblock %}