<!DOCTYPE html>
<html lang="ru">

<head>
   <!--Import Google Icon Font-->
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!--Import materialize.css-->
    {% load static %}
   <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css'%}" media="screen,projection" />
    {% block title %}<title>Лапушка</title>{% endblock %}
   <!--Let browser know website is optimized for mobile-->
   <meta name="viewport" content="width=device-width, initial-scale=6.0" />
   <meta charset="utf-8">
    {% load static %}
   <link type="text/css" rel="stylesheet" href="{% static 'css/base_generic.css'%}">
</head>
<style>
</style>

<body>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
{% load static %}
<script type="text/javascript" src="{% static 'js/materialize.min.js'%}"></script>
{% load static %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<!-- Navabar -->
<!-- Dropdown Structure -->

{% block header %}
<nav class=" teal lighten-1" >
   <div class="nav-wrapper    transparent">
      <a href="{% url 'index' %}" class="brand-logo hide-on-med-and-down" style="margin-left:20px;">
          {% load static %}
          <img class="todo-shrink-navlogo" src="{% static 'img/header-logo.png' %}"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
         <li><a href="{% url 'index' %}">Главная</a></li>
         <li><a href="{% url 'facilities' %}">Отделения</a></li>
         <li><a href="{% url 'gallery' %}">Галерея</a></li>
         <li><a href="{% url 'price' %}">Цены</a></li>
         <li><a href="{% url 'contact' %}">Контакты</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'profile' %}">Личный кабинет</a></li>
              <li><a href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>
          {% else %}
         <li><a class="waves-effect waves-light btn  amber accent-4" href="{% url 'login' %}">Войти</a></li>
          {% endif %}
      </ul>
      <ul class="side-nav  teal lighten-1 white-text" id="mobile-demo" style="color:#fff;">
         <a href="{% url 'index' %}" class="brand-logo " style="margin-left:20px;">
             {% load static %}
             <img class="todo-shrink-navlogo" src="{% static 'img/header-logo.png' %}"></a>
         <li style="margin-top: 140px;"><a href="{% url 'index' %}" style="color:#fff;">Главная</a></li>
         <li><a href="{% url 'facilities' %}" style="color:#fff;">Отделения</a></li>
         <li><a href="{% url 'gallery' %}" style="color:#fff;">Галерея</a></li>
         <li><a href="{% url 'price' %}" style="color:#fff;">Цены</a></li>
         <li><a href="{% url 'contact' %}" style="color:#fff;">КОнтакты</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'profile' %}">Личный кабинет</a></li>
          {% else %}
         <li><a class="waves-effect waves-light btn  amber accent-4" href="{% url 'login' %}">Войти</a></li>
          {% endif %}
      </ul>
   </div>
</nav>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
<footer class="page-footer  teal lighten-1">
   <div class="container">
      <div class="row">
         <div class="col l6 s12">
            <h5 class="white-text">КТО МЫ</h5>
            <div class="divider"></div>
            <p class="grey-text text-lighten-4">Ветклиника Лапушка была основана лапушками в стране Лапушка, городе Лапушка Лапушкинской области знаменитым Лапушкой в честь Лапушки и его верного пса Лапушки. Лапушка чтит традиции и относится ко всем своим пациентам как к лапушкам. ТОлько у нас работает более 240 лапушек, готовых помочь вашей лапушке снова стать здоровой лапушкой.</p>
         </div>
         <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Меню</h5>
            <div class="divider"></div>
            <ul>
               <li><a class="grey-text text-lighten-3" href="{% url 'index' %}">Главная</a></li>
               <li><a class="grey-text text-lighten-3" href="{% url 'facilities' %}">Отделения</a></li>
               <li><a class="grey-text text-lighten-3" href="{% url 'price' %}">Цены</a></li>
               <li><a class="grey-text text-lighten-3" href="{% url 'gallery' %}">Галерея</a></li>
               <li><a class="grey-text text-lighten-3" href="{% url 'contact' %}">Контакты</a></li>
                {% if user.is_authentcated %}
                <li><a href="{% url 'profile' %}">Личный кабинет</a></li>
                    <li><a href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>
                {% else %}
               <li><a class="grey-text text-lighten-3" href="{% url 'login' %}">Войти</a></li>
                {% endif %}
            </ul>
         </div>
      </div>
   </div>
   <div class="footer-copyright">
      <div class="container">
         &copy; 2018 advolotkina
         <a class="grey-text text-lighten-4 right">Лапушка</a>
      </div>
   </div>
</footer>
{% endblock %}
</body>
<script>
   $(document).ready(function() {
      $('select').material_select();
      $('.slider').slider({
         full_width: true,
         interval: 5000,
         height: 300,
         transition: 800
      });
      $('.datepicker').pickadate({
         selectMonths: true, // Creates a dropdown to control month
         selectYears: 100, // Creates a dropdown of 15 years to control year
         format:'dd/mm/yyyy'
      });

   });
   $('#patients_voice').carousel({
      full_width: true,
      indicators: true
   });
</script>

</html>