{% extends "base_generic.html" %}

{% block content %}
    <br>
    <br>
    <br>
    <img class="materialboxed responsive-img" width="350" src="{{ picture.picture.url }}">
    <form method="post">{% csrf_token %}
    Вы уверены, что хотите удалить это изображение?<br/>
    <input class="waves-effect waves-light btn" type="submit" value="Delete" />
    </form>

{% endblock %}