{% extends "base_generic.html" %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card center-align red white-text" style="padding:10px;">
                <h3>СКОРАЯ ПОМОЩЬ <i class="material-icons">phone</i><a href="tel:+78422303030" class="white-text">30-30-30</a>, <i class="material-icons">phone</i><a href="tel:+78422404040"  class="white-text">40-40-40</a></h3>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card teal lighten-1 white-text" style="padding:10px">
                <h3>Центр поддержки</h3>
                <div class="card valign-wrapper">
                    <div class="row">
                        <div class="col s6 m6">
                            <div class="card black-text" style="padding-left:10px;padding-top:10px;">
                                <div class="row">
                                    <div class="col 1s"><i class="material-icons">phone</i> </div>
                                    <div class="col 11s"> 28110223 </div>
                                </div>
                                <div class="row">
                                    <div class="col 1s"><i class="material-icons">phone</i> </div>
                                    <div class="col 11s"> 299999999 </div>
                                </div>
                                <div class="row">
                                    <div class="col 1s"><i class="material-icons">email</i> </div>
                                    <div class="col 11s"> aaaaa@gmail.com </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s6 m6">
                            {% load static %}
                            <img src="{% static 'img/helpdesk.png' %}" class="responsive-img" height="50px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card teal lighten-1 white-text" style="padding:10px">
                <h3>Социальные сети</h3>
                <div class="card" style="padding-top:10px;">
                    <div class="row">
                        <div class="col s2 offset-s1">
                            <a href="https://ru-ru.facebook.com/">
                            {% load static %}
                            <img src="{% static 'img/facebook.png' %}" class="responsive-img">
                            </a>
                        </div>
                        <div class="col s2">
                            <a href="https://twitter.com/">
                            {% load static %}
                            <img src="{% static 'img/twitter.png' %}" class="responsive-img">
                            </a>
                        </div>
                        <div class="col s2">
                            <a href="https://www.tumblr.com/">
                            {% load static %}
                            <img src="{% static 'img/tumblr.png' %}" class="responsive-img">
                            </a>
                        </div>
                        <div class="col s2">
                            <a href="https://plus.google.com/?hl=ru">
                            {% load static %}
                            <img src="{% static 'img/google.png' %}" class="responsive-img">
                            </a>
                        </div>
                        <div class="col s2">
                            <a href="https://ru.linkedin.com/">
                            {% load static %}
                            <img src="{% static 'img/linkedin.png' %}" class="responsive-img">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <iframe width="600" height="450" style="height:450;width:100%" frameborder="0" style="border:0" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=ulyanovsk%2C%20russia+(%D0%9D%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" allowfullscreen>
    </iframe>
</div>
{% endblock %}