{% extends "base_generic.html" %}


{% block content %}
<div class="container">
   <div class="row">
      <div class="col s12 m4">
         <div class="card ">
            <div class="card-image">
                {% load static %}
               <img src="{% static 'img/ambulance.jpg' %}">
               <span class="card-title">Скорая помощь</span>
            </div>
            <div class="card-content">
               <p>
                  Скорая помощьСкорая помощьСкорая помощь помощьСкорая помощьСкорая помощьСкорая помощьСкорая помощьСкорая помощьСкорая помощьСкорая помощьСкорая помощь
               </p>
            </div>
         </div>
      </div>
      <div class="col s12 m4">
         <div class="card ">
            <div class="card-image">
                {% load static %}
               <img src="{% static 'img/cafeteria.jpg' %}">
               <span class="card-title">КАФЕТЕРИЙ</span>
            </div>
            <div class="card-content">
               <p>
                  КАФЕТЕРИЙ КАФЕТЕРИЙ КАФЕТЕРИЙ КАФЕТЕРИЙ КАФЕТЕРИЙ КАФЕТЕРИЙ КАФЕТЕРИЙ КАФЕТЕРИЙ КАФЕТЕРИЙ КАФЕТЕРИЙ КАФЕТЕРИЙ КАФЕТЕРИЙ КАФЕТЕРИЙ КАФЕТЕРИЙ КАФЕТЕРИЙ КАФЕТЕРИЙ КАФЕТЕРИЙ КАФЕТЕРИЙ КАФЕТЕРИЙ КАФЕТЕРИЙ КАФЕТЕРИЙ
               </p>
            </div>
         </div>
      </div>
      <div class="col s12 m4">
         <div class="card ">
            <div class="card-image">
                {% load static %}
               <img src="{% static 'img/opht.jpg' %}">
               <span class="card-title">ЧТО-ТО</span>
            </div>
            <div class="card-content">
               <p>
                   ЧТО-ТО ЧТО-ТО ЧТО-ТО ЧТО-ТО ЧТО-ТО ЧТО-ТО ЧТО-ТО ЧТО-ТО ЧТО-ТО ЧТО-ТО ЧТО-ТО ЧТО-ТО ЧТО-ТО ЧТО-ТО ЧТО-ТО ЧТО-ТО ЧТО-ТО ЧТО-ТО ЧТО-ТО ЧТО-ТО ЧТО-ТО ЧТО-ТО
               </p>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col s12 m4">
         <div class="card ">
            <div class="card-image">
                {% load static %}
               <img src="{% static 'img/neur.jpg' %}">
               <span class="card-title">ЕЩЕ ЧТО-ТО</span>
            </div>
            <div class="card-content">
               <p>
                   ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО
               </p>
            </div>
         </div>
      </div>
      <div class="col s12 m4">
         <div class="card ">
            <div class="card-image">
                {% load static %}
               <img src="{% static 'img/brain.jpg' %}">
               <span class="card-title">ЕЩЕ ЧТО-ТО</span>
            </div>
            <div class="card-content">
               <p>
                   ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО
               </p>
            </div>
         </div>
      </div>
      <div class="col s12 m4">
         <div class="card">
            <div class="card-image">
                {% load static %}
               <img src="{% static 'img/ther.jpeg' %}">
               <span class="card-title">ЕЩЕ ЧТО-ТО </span>
            </div>
            <div class="card-content">
               <p>
                   ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО
               </p>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col s12 m4">
         <div class="card ">
            <div class="card-image">
                {% load static %}
               <img src="{% static 'img/surgery.jpg' %}">
               <span class="card-title">ЕЩЕ ЧТО-ТО </span>
            </div>
            <div class="card-content">
               <p>
                    ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО
               </p>
            </div>
         </div>
      </div>
      <div class="col s12 m4">
         <div class="card ">
            <div class="card-image">
                {% load static %}
               <img src="{% static 'img/nephro.jpg' %}">
               <span class="card-title">ЕЩЕ ЧТО-ТО </span>
            </div>
            <div class="card-content">
               <p>
                  ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО
               </p>
            </div>
         </div>
      </div>
      <div class="col s12 m4">
         <div class="card">
            <div class="card-image">
                {% load static %}
               <img src="{% static 'img/lab.png' %}">
               <span class="card-title">ЕЩЕ ЧТО-ТО </span>
            </div>
            <div class="card-content">
               <p>
                  ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО ЕЩЕ ЧТО-ТО
               </p>
            </div>
         </div>
      </div>
   </div>

</div>
{% endblock %}
