{% extends "base_generic.html" %}


{% block content %}
<div class="container">
<div class="row">

       {% if pictures %}
       {% for picture in pictures %}
           <div class="col s12 m4">
      <div class="card">
          {% load static %}
          <div class="card-image">
         <img class="materialboxed responsive-img" width="350" src="{{ picture.picture.url }}">
          </div>
          <div class="card-content">
                <p>{{ picture.description }}</p>
              <p>Автор: {{ picture.author.user }}</p>
          </div>
            <div class="card-action">
                <a href="{{ picture.picture.url }}">СКАЧАТЬ</a>
                {% if picture.author.user == user %}
                <a href="{% url 'picture_change' picture.id %}">ИЗМЕНИТЬ</a>
                <a href="{% url 'picture_delete' picture.id %}">УДАЛИТЬ</a>
                {% endif %}
            </div>
      </div>
           </div>
    {% endfor %}
           </div>
    {% else %}
     <p>Ни одной фотографии не загружено.</p>
     {% endif %}

        <br>
        <br>
        {% if user.is_authenticated %}
        <p>Вы можете загрузить свою фотографию вашего питомца</p>
        <form action="{% url "gallery" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.picture.label_tag }} {{ form.picture.help_text }}</p>

            <p>
                {{ form.picture.errors }}
                {{ form.picture }}
            </p>
            <p>{{ form.description.label_tag }}</p>
            <p>{{ form.description }}</p>

            <p><input class="waves-effect waves-light btn  amber accent-4" type="submit" value="Загрузить"/></p>
        </form>
        {% endif %}
  </div>
</div>
</div>
{% endblock %}