{% extends "base_generic.html" %}


{% block content %}
    <div class="container" style="margin-top:20px;">
<div class="slider " style="margin-top: 10px;">
   <ul class="slides">
      <li>
          {% load static %}
         <img class="responsive-img" src="../static/img/hoshome1.jpg"  style="opacity:0.3;">
         <!-- random image -->
         <div class="caption center-align">
            <h3>Самая большая ветклиника в городе</h3>
            <h5 class="light grey-text text-lighten-3">Наша ветклиника, единственная в городе, может одновременно обслуживать более 240 пациентов</h5>
         </div>
      </li>
      <li>
          {% load static %}
         <img class="responsive-img" src="../static/img/hoshome2.jpg" style="opacity:0.3;">
         <!-- random image -->
         <div class="caption left-align">
            <h3>Высококвалифицированные специалисты</h3>
            <h5 class="light grey-text text-lighten-3">Лучшие врачи со всей страны</h5>
         </div>
      </li>
      <li>
          {% load static %}
         <img class="responsive-img" src="../static/img/hoshome3.jpg" style="opacity:0.3;">
         <!-- random image -->
         <div class="caption right-align">
            <h3>Лучший сервис быстрой помощи</h3>
            <h5 class="light grey-text text-lighten-3">"Лапушка" работает без перерывов и выходных и всегда готова помочь вашему питомцу.</h5>
         </div>
      </li>
   </ul>
</div>
      <div class="card ">
      <div class="card-content ">
         <div class="row">
            <div class="col s12">
               <ul class="tabs ">
                  <li class="tab col s3"><a class="active" href="#test1">Найти специалиста</a></li>
               </ul>
            </div>
            <div id="test1" class="col s12">
               <br>
               <form class="col s12">
                  <div class="row">
                     <div class="input-field col m6 s12">
                        <select id="speciality2" onchange="onchangesp2('#speciality2','#doctorslist2','#docttabc','#docttab')">
                            <option value="">------</option>
                            <option value="all">Все</option>
                            {% for specialty in specs %}
                            <option value="{{ specialty.pk }}">{{ specialty.name }}</option>
                            {% endfor %}
                        </select>
                        <label>Speciality</label>
                     </div>
                     <div class="input-field col m6 s12">
                        <select id="doctorslist2" onchange="onchangedoc2()">
                           <option value="" disabled selected>Выберите специалиста</option>
                        </select>
                        <label>Doctors</label>
                     </div>
                     <div>
                        <a class="waves-effect waves-light btn center-align orange darken-2" onclick="togdoct()">Search</a>
                     </div>
                  </div>
               </form>
            </div>
         </div>

      </div>
   </div>

   <div class="row">
      <div class="col s12 m4">
         <!-- Promo Content 1 goes here -->
         <div class="card-panel center-align ">
            <div class="center promo promo-example">
                        <span style="font-size:25px;">
                     <i class="material-icons">&#xE24E;</i>
                     <p class="promo-caption">СЧАСТЛИВЫЕ ПАЦИЕНТЫ</p>
                     <p class="light center">10000+</p>
                  </span>
            </div>
         </div>
      </div>
      <div class="col s12 m4">
         <!-- Promo Content 2 goes here -->
         <div class="card-panel center-align ">
            <div class="center promo promo-example">
                        <span style="font-size:25px;">
                     <i class="material-icons">&#xE53A;</i>
                     <p class="promo-caption">МЕСТА ДЛЯ БОЛЬНЫХ</p>
                     <p class="light center">240+</p>
                  </span>
            </div>
         </div>
      </div>
      <div class="col s12 m4">
         <!-- Promo Content 3 goes here -->
         <div class="card-panel ">
            <div class="center promo promo-example">
                        <span style="font-size:25px;">
                     <i class="material-icons">&#xE7FB;</i>
                     <p class="promo-caption">ОПЫТНЫЕ СПЕЦИАЛИСТЫ</p>
                     <p class="light center">1000+</p>
                  </span>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}