{% extends "base_generic.html" %}

{% block content %}
        <br>
        <br>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.picture.label_tag }} {{ form.picture.help_text }}</p>

            <p>
                {{ form.picture.errors }}
                {{ form.picture }}
            </p>
            <p>{{ form.description.label_tag }}</p>
            <p>{{ form.description }}</p>

            <p><input class="waves-effect waves-light btn  amber accent-4" type="submit" value="Изменить"/></p>
        </form>
{% endblock %}