{% extends "base_generic.html" %}

{% block content %}

<div class="container">
<div class="row">
    <!-- List of uploaded documents -->
        {% if documents %}
            {% for document in documents %}
            <div class="col s12 m4">

        <div class="card">
            <div class="card-image">
                {% load static %}
                <img src="{% static 'img/cardio.jpg' %}">
                <span class="card-title">Прайс-лист</span>
            </div>
            <div class="card-content">
                <p>{{ document.docfile.name }}</p>
            </div>
            <div class="card-action">
                <a href="{{ document.docfile.url }}">СКАЧАТЬ</a>
                <a href="{{ document.delete }}">УДАЛИТЬ</a>
            </div>
        </div>
    </div>
            {% endfor %}
            </div>
                    {% else %}
            <p>No documents.</p>
        {% endif %}

        <br>
        <br>
        {% if user.is_authenticated %}
        <p>Вы можете загрузить свой прайс-лист</p>
        <form action="{% url "price" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input class="waves-effect waves-light btn  amber accent-4" type="submit" value="Загрузить"/></p>
        </form>
        {% endif %}
</div>
{% endblock %}