{% extends "base_generic.html" %}

{% block content %}
<script type="text/javascript">
    function validation() {
        var flag = 0;
        var pass = document.getElementById("password").value;
        var repass = document.getElementById("repassword").value;
        if (pass != repass) {
            alert("Passwords do not match");
            //returnToPreviousPage();
            flag = 1;
        }
        var no = parseInt(document.getElementById("tel").value);
        if (no < 100000000 || no > 9999999999) {
            alert("Phone number is not valid");
            //returnToPreviousPage();
            flag = 1;
        }
        if (flag == 1) {
            return false;
        }
        if (flag == 0) {
            return true;
        }

    }
</script>

<div class="row " style="margin-top:20px;">
    <div class="col s12  m6 offset-m3   ">
        <div class="card-panel" style="">
            <h4 style="width:100%;  text-align: center;"> Регистрация</h4>
            <div class="row">
                <br>
                <form class="col s12">
                    <div class="row">

                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="name" type="text" class="validate">
                                <label for="name"> Имя</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">mail</i>
                                <input id="email" type="email" class="validate ">
                                <label for="email">Email</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s10">
                                <i class="material-icons prefix">lock</i>
                                <input id="password" type="password" class="validate">
                                <label for="password">Пароль</label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="input-field col s10">
                                <i class="material-icons prefix">lock</i>
                                <input id="password" type="password" class="validate">
                                <label for="password">Повторите пароль</label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="input-field col s10">
                                <i class="material-icons prefix">phone</i>
                                <input id="phone" type="tel" class="validate">
                                <label>Номер телефона</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="pet_name" type="text" class="validate">
                                <label for="pet_name"> Имя питомца</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s10">

                                <label>Дата рождения питомца</label>
                                <br>
                                <input type="date" id="date" class="datepicker">
                            </div>
                        </div>

                        <br>
                        <a class="waves-effect waves-light btn orange darken-2" style="width:100%" onclick="registerUser()">Зарегистрироваться</a>
                        <br>
                        <br>
                        <a class="waves-effect waves-light btn orange darken-2" style="width:100%" href="{% url 'login' %}">Войти</a>

                </form>
            </div>
        </div>
    </div>
</div>
</form>
</div>
{% endblock %}