{% extends "base_generic.html" %}

{% block content %}
  <h2>Регистрация</h2>
  <form method="post">
    {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}

    <button class="waves-effect waves-light btn orange darken-2" style="width:100%" type="submit">Зарегистрироваться</button>
  </form>
{% endblock %}